/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html{
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(180deg, #134d71 10%, #f7e4bf 90%);
}
body{
   display:flex;
   justify-content: center; 
   text-align: center;
   font-family: Quicksand;
}
.divBoxStyle{
    border-radius:1.5mm;
    background-color: white;
}
.menu{
   width : 60%;
   margin: 0 auto;
}
.output{
    width : 80%;
    margin: 0 auto;
    font-family: sans-serif;
}
.main{
    width:100%;
    display:flex;
    justify-content: center;
    text-align:center;
    flex-direction: column;
}
.whiteText{
    color:white;
}
